{% extends 'base.html.twig' %}

{% block extra_title %}Liste des vehicules{% endblock %}

{% block body %}
    <div class="text-end">
        <a href="{{ absolute_url(path('app_vehicule_new')) }}" class="text-success fw-semibold fst-italic"><i class="bi bi-plus-circle"></i> Ajouter un
            véhicule...</a>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 car mt-3 mb-5">
        {% for vehivule in vehicules %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body p-2" style="margin: 0; padding:0;">
                        <div class="row d-flex align-items-center justify-content-between position-relative">
                            <div class="col-7">
                                <h5 class="mt-0">{{ vehicule.immatriculation }}</h5>
                                <p>{{ vehicule.marque.nom }}</p>
                            </div>
                            <div class="col-5 text-center">
                                <a href="{{ absolute_url(path('app_vehicule_show',{"slug": vehicule.slug})) }}">
                                        <span class="car-img flex-shrink-0" style="color: rgb(179, 161, 5);"><i
                                                class="bi bi-car-front-fill"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="row row-cols-2 text-center finances">
                            <div class="col">
                                <small>Recettes </small><span class="badge text-bg-secondary value">1350K</span>

                            </div>
                            <div class="col">
                                <small>Dépenses</small> <span class="badge text-bg-secondary">750K</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><em>Aucun vehicule enregistré</em></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

