{% extends 'base.html.twig' %}

{% block extra_title %}Nouveau Vehicule{% endblock %}

{% block body %}

    <div class="text-end mt-3" data-controller="header">
        <a href="{{ absolute_url(path('app_vehicule_index')) }}" class="btn btn-outline-success btn-sm"><i class="bi bi-list-ul"></i> Voir la
            liste...</a>
    </div>

    <h4 class="page-title">Enregistrement des vehicules</h4>

    {{ include('vehicule/_form.html.twig') }}
{% endblock %}
{% block header %}
    <div class="navigation d-flex text-light">
        <a href="{{ historique ?? absolute_url(path('app_home')) }}" class="ps-4 fs-2 text-light"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <h2 class="page-title me-auto text-center w-100">Vehicule</h2>
    </div>
{% endblock %}
