{% extends 'base.html.twig' %}

{% block extra_title %}Nouveau chauffeur{% endblock %}

{% block body %}
    <div class="text-end mt-5">
        <a href="{{ absolute_url(path('app_chauffeur_index')) }}" class="btn btn-outline-success btn-sm">
            <i class="bi bi-arrow-90deg-left"></i> Retour à liste
        </a>
    </div>

    <h4 class="page-title">Enregistrement des chauffeurs</h4>

    {{ include('chauffeur/_form.html.twig') }}
{% endblock %}
{% block header %}
    <div class="navigation d-flex text-light">
        <a href="{{ historique ?? absolute_url(path('app_home')) }}" class="ps-4 fs-2 text-light"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <h2 class="page-title me-auto text-center w-100">Chauffeur</h2>
    </div>
{% endblock %}
