@charset "UTF-8";
/*****
  Website: G-VTC
  Description: Application de gestion de la flotte VTC
  Author: Delrodie AMOIKON
  Support: delrodieamoikon@gmail.com
  Version: 1.0.0
*****/

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-gwhite:#ffffff;
$color-glight90: #e8f4f1;
// $color-glight90: #eef6ed;
$color-glight70: #cee5cb;
$color-glight40: #9aca94;
$color-main: #5dab53;
$color-gdark30: #199676;
// $color-gdark30: #41773a;
$color-gdark60: #0a3c2f;
// $color-gdark60: #254421;

$font-familly: 'Inter',
sans-serif;


:root {
    --color-gwhite: #fff;
    --color-glight90: #e8f4f1;
    --color-glight70: #cee5cb;
    --color-glight40: #9aca94;
    --color-main: #5dab53;
    --color-gdark30: #199676;
    --color-gdark60: #0a3c2f;
    --font-familly: 'Inter',
        sans-serif;
    ;
}

body {
    background-color: var(--color-glight90);
    font-family: var(--font-familly);
}

a {
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    &::before {
        font-family: "bootstrap-icons";
        color: var(--color-white);
        margin-right: 8px;
        font-size: 1rem;
        vertical-align: middle;
    }

    &.g-logo {
        &::before {
            content: '\F7E0';
            font-size: 1.75rem;
            font-weight: 700;
        }
    }

}

header {
    padding: 25px 0;
    background: var(--color-gdark30);
    width: 100%;
    max-width: 800px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10;

    @media screen and (min-width: 801px) {
        max-width: 600px;
    }


    .g-logo {
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--color-gwhite);
    }

    .btn {
        background: transparent !important;
        padding: 0 5px 0;


        i {
            font-size: 1.5rem;
            color: var(--color-glight70);
        }
    }

    .icons {
        margin-right: 15px;
        display: flex;
        align-items: center;

        .p-2 {
            padding: 0.25rem !important;
            margin-left: -7px;
        }

        .dropdown-menu {
            background: var(--color-glight90) !important;
            border-radius: 0;
        }

        i {
            font-size: 1.5rem;
            color: var(--color-glight70);
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .search {
        max-width: 60%;
        margin: 20px auto;

        .form-control {
            background: rgba(#fff, 0.5) !important;
            border-radius: 0;
            border: solid 1px rgba(#fff, 0.2);
        }

        .btn-o-search {
            border: solid 1px rgba(#fff, 0.2);
        }

        @media screen and (max-width: 360px) {
            max-width: 90%;
        }
    }
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    border: solid 1px rgba($color: $color-glight40, $alpha: 0.5);
    box-shadow: 1px 10px 10px 10px rgba($color-gdark60, 0.05);

    @media screen and (min-width: 801px) {
        max-width: 600px;
    }
}

.offcanvas {
    max-width: 80%;

    a {
        color: var(--color-gdark30);
        font-weight: 600;

        &:hover {
            color: var(--color-gdark60);
        }
    }

    .nav {
        &-item {
            padding-top: 1px;
            padding-bottom: 1px;
            border-bottom: dotted 1px rgba($color-gdark60, 0.3);
            transition: all 500ms ease-in-out;

            &:hover {
                background: var(--color-glight70);
                color: var(--color-gdark60);

                .collapse {
                    background: var(--color-white)
                }
            }

            .collapse {
                padding-left: 20px;

                &:hover {
                    background: var(--color-gwhite);

                    .nav-item {
                        background: var(--color-gwhite);
                    }
                }
            }

            i {
                font-size: 1.3rem;
                color: var(--color-gdark60);
                margin-right: 10px;
                font-weight: 700;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .deconnexion {
            background: var(--color-glight70);
            padding: 3px 0;
        }
    }
}

main {
    // position: relative;

    .section {
        margin-bottom: 50px;

        &-head {
            margin-bottom: 10px;
        }

        &-title {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--color-gdark60);
        }

        &-link {
            font-weight: 600;
            color: var(--color-gdark60);
            font-style: italic;

            &:hover {
                color: var(--color-gdark30);
            }
        }
    }

    .flot-cars {
        .card {
            padding: 0;
            border: solid 1px rgba($color: $color-gdark60, $alpha: 0.2);
            background: rgba(#fff, 0.5);

            &:hover {
                background: var(--color-gwhite);
            }

            &-body {
                padding: 0;
            }

            &-footer {
                font-weight: 700;
                color: var(--color-gdark60);
                text-transform: uppercase;
                padding: 3px 2px;
                font-size: 0.85rem;
            }
        }
    }

    .statistiques {
        .card {
            border: solid 1px rgba($color: $color-gdark60, $alpha: 0.3);
            border-bottom: solid 5px rgba($color: $color-gdark60, $alpha: 0.8);
        }

        .valeur {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--color-gdark60);

            span {
                font-size: 0.8rem;
            }
        }

        .icon {
            background: rgba($color-gdark60, 0.3);
            border-radius: 100%;
            padding: 2px;
            width: 35px;
            height: 35px;
        }

        label {
            font-weight: 600;
            color: var(--color-gdark30);
        }

        .details {
            font-weight: 800;
            color: var(--color-gdark60);
            font-size: 1.3rem;
        }
    }

    .car {
        .card {
            border-bottom: solid 7px rgba($color: $color-gdark60, $alpha: 0.8);

            h5 {
                margin: 0;
                padding: 0;
                font-weight: 700;
                color: var(--color-gdark60);
            }
        }

        &-img {
            background: rgba($color-gdark60, 0.5);
            border-radius: 100%;

            i {
                font-size: 5.5em;
            }
        }
    }

    .pagination {
        --bs-pagination-color: var(--color-gdark30)
    }

    .page {
        &-item {
            margin: 3px;
        }

        &-link {
            border-radius: 100%;
        }

        &-title {
            margin-top: 30px;
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--color-gdark60);
        }

        &-details {
            margin-top: 100px;
        }

        &-illustration {
            margin: 0;
            padding: 0;

            span {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba($color-gdark60, 0.35);
                border-radius: 100%;
                font-size: 2.5rem;
                margin-top: -50px;
            }
        }

        &-legend {
            margin: 0;
            padding: 0;

            .page-title {
                margin: 5px 0 0;
                padding: 0;
            }

            small {
                font-weight: 600;
            }
        }

        &-finances {
            margin-bottom: 20px;

            .montant {
                padding: 0;
                margin: 0;
                font-weight: 700;
                color: var(--color-gdark30);
            }

            small {
                font-weight: 600;
            }
        }

        .card {
            &.page-details {
                border: solid 1px rgba($color: $color-gdark60, $alpha: 0.25);

            }
        }

        &-recap {
            margin-bottom: 100px;

            .total {
                font-size: 1.2rem;
                font-weight: 700;
                color: var(--color-gdark60);
                border-top: dotted 1px #000;
                padding-top: 10px;
            }

            .value {
                font-weight: 500;
            }
        }

        &-chauffeur {
            .avatar {
                &-nom {
                    font-weight: 700;
                    color: var(--color-gdark60);
                    padding: 0;
                    margin: 0;
                }

                &-telephone {
                    margin: 0;
                }

                span {
                    width: 50px;
                    height: 50px;
                    background: rgba($color-gdark60, 0.35);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    margin-right: 10px;
                }
            }

            .contact {
                a {
                    color: var(--color-gdark60);
                    font-weight: 600;
                    font-size: 1.3rem;
                    margin: 0 3px;
                }
            }

            .vehicule {
                margin-top: 15px;

                .info {
                    .immatriculation {
                        padding: 0;
                        margin: 0;
                        font-weight: 700;
                        font-size: 0.85rem;
                    }

                    .marque {
                        margin: 0;
                        padding: 0;
                        font-size: 0.8rem;
                    }
                }

                .link {
                    a {
                        color: var(--color-gdark30);
                        font-weight: 600;
                    }
                }
            }
        }

        .details-vehicule{
            background: rgba($color-gdark60, 0.2);
            margin: 10px;

            .marque{
                font-size: 0.85rem;
            }
            .immatriculation{
                font-weight: 700;
                color: var(--color-gdark60);
            }

            span{
                background: rgba(#fff, 0.5);
                padding: .85rem;
                border-radius: 100%;
                font-size: 1.8rem;
            }
        }

        .list-group{
            margin-bottom: 100px;

            &-item{
                padding: 12px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                small{
                    font-size: 0.85rem;
                }
                span{
                    font-size: 0.85rem;
                }
            }
        }
    }

    .portefeuille{
        .recette{
            &-car{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    background: rgba($color-gdark60, 0.2);
                    border-radius: 100%;
                    font-size: 1.8rem;
                    padding: 0.3rem 0.6rem;
                }
                .immatriculation{
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: var(--color-gdark60);
                    margin: 0;
                    padding: 0;
                }
            }

            &-valeur{
                font-size: 1.25rem;
                font-weight: 700;
                color: var(--color-gdark30);
            }
        }
    }

    .connexion{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

footer {
    background: var(--color-gwhite);
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px rgba($color: $color-glight40, $alpha: 0.5);

    a {
        font-size: 1.7rem;
        color: var(--color-gdark60);
    }
}