{% extends 'base.html.twig' %}

{% block extra_title %}Nouvelle marque{% endblock %}

{% block body %}
    <div class="text-end mt-3">
        <a href="{{ absolute_url(path('app_marque_index')) }}" class="text-success fw-semibold fst-italic"><i class="bi bi-list-ul"></i> Voir la
            liste...</a>
    </div>

    <h4 class="page-title">Enregistrement des marques</h4>
    {% for field in form %}
        {% if field.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Echèc!</strong> {{ field.vars.errors|first.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {{ include('marque/_form.html.twig') }}
{% endblock %}
